{% extends 'base.html' %}
{% load humanize staticfiles %}
{% block title %}{{ object.week }} {{ chart.get_language_display }} Charts{% endblock %}

{% block meta_tags %}
<meta name="description" content='Watch/Listen to Top 10 Songs of {{ chart.week }} here.Top songs for the week are {% for song in object.songs.all %}{{ song.name}}, {% endfor %}' >
<meta name="keywords" content='top 10 {{ object.get_language_display }} songs, top 10 songs of {{ chart.week|date:"Y" }}, best songs of {{ chart.week|date:"Y" }}, top ten songs, {% for song in object.songs.all %}{{ song.name}},{% endfor %}'>
{% endblock meta_tags %}

{% block twitterCard %}
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="http://www.top10songs.co.in{{ chart.get_absolute_url }}">
<meta name="twitter:title" content="{{ object.week }} {{ chart.get_language_display }} Charts">
<meta name="twitter:description" content="Top songs for the week are {% for song in object.songs.all %}{{ song.name}}, {% endfor %}">
<meta name="twitter:site" content="@top10songsin">
<meta name="twitter:creator" content="@top10songsin">
{% endblock twitterCard %}

{% block openGraph %}
<meta property="og:title" content="Top 10 Songs | {{ object.week }} {{ chart.get_language_display }} Charts">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.top10songs.co.in{{ chart.get_absolute_url }}">
<meta property="og:image" content="{% static 'img/musical-note.png' %}">
{% endblock openGraph %}

{% block content %}
<div class="panel panel-info text-center" itemscope itemtype="http://schema.org/MusicGroup">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h1 itemprop="name">Top 10 {{ chart.get_language_display }} Songs <small>({{ chart.week }})</small></h1>
    </div>
    <!-- List group -->
    <div class="list-group" >
        {% for song in object.get_songs %}
        <article class="list-group-item center-block" itemtype="http://schema.org/MusicRecording" itemscope itemprop="tracks">
            <div class="row">
                <div class="col-md-4">
                    <header>
                        <h3 class="list-group-item-heading"><span class="label label-default">#{{ forloop.counter }}</span></h3>
                        <h2 itemprop="name"><a href="{{ song.get_absolute_url }}" itemprop="url">{{ song.name }}</a></h2>
                    </header>
                </div>
                <div class="col-md-4">
                    <a href="{{ song.get_absolute_url }}" itemprop="audio">
                        <img height="90" width="120" class="img-thumbnail" alt="{{ song.name }}" src="//i.ytimg.com/vi/{{ song.youtube_id }}/default.jpg" itemprop="image">
                    </a>
                </div>
                <div class="col-md-4">
                    <div>
                        {% if song.album %}
                        <p>Album: <span itemprop="inAlbum"><strong><a href="{% url 'search' %}?q={{ song.album }}">{{ song.album }}</a></strong></span>
                        </p>
                        {% endif %}
                        {% if song.get_artists %}
                        <p>Artist: <span itemprop="byArtist"><strong>
                            {% for artist in song.get_artists %}
                                <a href="{% url 'search' %}?q={{ artist }}">{{ artist }}</a>
                                {% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}
                            {% endfor %}
                        </strong></span>
                        </p>
                        {% endif %}
                        {% if song.publisher %}
                        <p>Publisher: <span itemprop="publisher"><strong>{{ song.publisher }}</strong></span>
                        </p>
                        {% endif %}
                        <meta itemprop="duration" content="PT5M0S" />
                        <meta itemprop="interactionCount" content="UserPlays:15000"/>
                        <div>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.top10songs.co.in{{ song.get_absolute_url|urlencode }}"
            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="facebook"><span class="fa fa-facebook"></span></a>

                                <a href="http://twitter.com/share?text={{ song.name|urlencode|default:'Top 10 Songs' }} by {{ song.artist|urlencode }} is at {{ forloop.counter|ordinal }} position in {{ chart.week|urlencode }}.&amp;url=http%3A//www.top10songs.co.in{{ song.get_absolute_url|urlencode }}&amp;hashtags=top10songs,{{ song.name|cut:' '|urlencode}},{{song.album|cut:' '|urlencode}}{% for artist in song.get_artists %},{{artist|cut:' '|urlencode}}{% endfor %}"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="twitter"><span class="fa fa-twitter"></span></a>

                                <a href="https://plus.google.com/share?url=http%3A//www.top10songs.co.in{{ song.get_absolute_url|urlencode }}"
           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" class="google-plus"><span class="fa fa-google-plus"></span></a>

                                 <a class="tumblr" href="http://www.tumblr.com/share/link?url={{ request.build_absolute_uri|urlencode }}&amp;name={{ title|default:'Top 10 Songs' }}&amp;description={{ song.name }} by {{ song.artist}}&amp;tags={{song.name}},{{song.artist}},{{song.album}},music,top10songs"
                                 onclick="window.open(this.href, 'tumblr-share', 'width=490,height=530');return false;">
                                  <span class="fa fa-tumblr"></span>
                                 </a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}
