{% extends 'base.html' %}
{% block title %}
{{ year|date:"Y" }}
{% endblock %}
{% block content %}
<ul class="pager">
    {% for date in date_list %}
    <li><a href='{% url 'chart_archive_month_numeric' year=date.year month=date.month %}'>{{ date|date:"F" }}</a></li>
    {% endfor %}
</ul>

<div>
  <div class="panel panel-info text-center">
    <div class="panel-heading"><h2>All Charts for {{ year|date:"Y" }}</h2></div>
    <ul class="list-group">
      {% for chart in object_list %}
      <li class="list-group-item">Top 10 {{ chart.get_language_display }} Songs in<a href='{% url "chart_detail" chart.id %}'> {{ chart.week|date }}</a></li>
      {% empty %}
      <li>No Chart Found</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
