{% extends 'base.html' %}
{% block title %}
Top 10 Songs Archive
{% endblock %}
{% block content %}
<h1 class="text-center">All Top 10 Songs Archive</h1>
<hr>
<div class="panel panel-primary">
    <div class="panel-heading text-center"><h4>All Time Top 10 Songs</h4></div>
    <div class="panel-body" style="display:flex;">
        {% for song in top_songs %}
        <div class="songlink">
            <a href="{{ song.song.get_absolute_url }}" title="{{song.song.name}}">
                <img height="90" width="120" class="img-thumbnail" alt="{{ song.song.name }}" src="//i.ytimg.com/vi/{{ song.song.youtube_id }}/default.jpg">
            </a></div>
        {% endfor %}
    </div>
</div>
{% for years, months in archive %}
 <h2><a href="{% url 'chart_archive_year' years.year %}">{{ years.year }}</a></h2>
<ul class="pager">
    {% for month in months %}
    <li><a href="{% url 'chart_archive_month' years.year month|date:'b' %}">{{ month|date:"F" }}</a>
    </li>
    {% endfor %}
</ul>
<hr>
{% endfor %}
{% endblock %}
