{% extends 'base.html' %}

{% block title %}
{{ song.name }} {% if song.artist %}by {{ song.artist }} {% endif %} {% if song.album %} from {{ song.album }} {% endif %}
{% endblock %}
{% block twitterCard %}
    <meta name="twitter:card" content="player">
    <meta name="twitter:url" content="www.top10songs.co.in{{ song.get_absolute_url }}">
    <meta name="twitter:title" content="Top 10 Songs">
    <meta name="twitter:description" content="{{ song.name }} {% if song.artist %}by {{ song.artist }} {% endif %} {% if song.album %} from {{ song.album }} {% endif %}">
    <meta name="twitter:image" content="https://i.ytimg.com/vi/{{ song.youtube_id }}/maxresdefault.jpg">
    <meta name="twitter:image:width" content="1280">
    <meta name="twitter:image:height" content="720">

    <meta name="twitter:player" content="https://www.youtube.com/embed/{{ song.youtube_id }}">
    <meta name="twitter:player:width" content="1280">
    <meta name="twitter:player:height" content="720">
    <meta name="twitter:site" content="@top10songsin">
    <meta name="twitter:creator" content="@top10songsin">
{% endblock twitterCard %}
{% block meta_tags %}
<meta name="description" content='Watch/Listen to {{ song.name }} by {{ song.artist }} of {{ song.album }} for free on YouTube. {{ song.name }} is one of the Top 10 songs in {{ song.updated_at|date:"F, Y" }}.'>
<meta name="keywords" content='{{ song.name }}, {{ song.artist }}, {{ song.album }}, {{ song.name }} youtube video, {{ song.name }} {{ song.artist }}, listen for free {{ song.name }}, {{ song.name }} by {{ song.artist }}, {{ song.name }} mp3, {{ song.name }} lyrics, {{ song.name }} mp3 download, {{ song.name }} song download, {{ song.name }} lyrics'>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <article itemtype="http://schema.org/MusicRecording" itemscope itemprop="track" class="col-md-8">
        <header>
            <h1 itemprop="name">{{ song.name }}</h1>
        </header>
        <div>
            {% if song.album %}
            <p>Album: 
                <span itemprop="inAlbum">
                    <strong>
                        <a href="{% url 'search' %}?q={{ song.album }}">{{ song.album }}</a>
                    </strong>
                </span>
            </p>
            {% endif %} {% if song.artist %}
            <p>Artist: 
                <span itemprop="byArtist">
                    <strong>
                        <a href="{% url 'search' %}?q={{ song.artist }}">{{ song.artist }}</a>
                    </strong>
                </span>
            </p>
            {% endif %} {% if song.publisher %}
            <p>Publisher: <span itemprop="publisher"><strong>{{ song.publisher }}</strong></span>
            </p>
            {% endif %}
            <meta itemprop="datePublished" content={{ song.created_at }} />
            <meta itemprop="duration" content="PT5M0S" />
        </div>
        <div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">

            <p class="muted">Youtube Link: <a href="http://youtu.be/{{ song.youtube_id }}" itemprop="audio">{{ song.name }}</a>
            </p>
            <section class="row">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="//www.youtube-nocookie.com/embed/{{ song.youtube_id }}" class="embed-responsive-item" allowfullscreen></iframe>
                </div>
            </section>
        </div>
        <div class="row">
            <h3>Chart Date <span class="pull-right">Position</span></h3>
                <div class="list-group">
                {% for ranking in song.song.select_related %}
                <a class="list-group-item" href="{{ ranking.chart.get_absolute_url }}">
                        <span class="badge">{{ ranking.position }}</span>
                        Top 10 {{ ranking.chart.get_language_display}} Songs in {{ ranking.chart.week|date }}
                    </a>
                {% endfor %}
                </div>
        </div>
    </article>
    <div class="col-md-2"></div>
</div>
{% endblock %}
