<div class="col-md-3">
    <p>&copy; <a href='/'>Top10Songs.co.in</a>
    </p>
</div>
<div class="col-md-6">
    <ul class="nav nav-pills">
        {% for page in flatpages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="col-md-3">
    <iframe data-aa='35799' src='//ad.a-ads.com/35799?size=120x60' scrolling='no' style='width:120px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
</div>